html {
  scroll-behavior: smooth;
}
#backImg {
  z-index: -1 !important;
}

.gradBG {
  background: linear-gradient(
    to right,
    transparent,
    #fffaf0 20%,
    #fffaf0 80%,
    transparent
  );
}

@media screen and (min-width: 768px) {
  .gradBG {
  background: linear-gradient(
    to right,
    transparent,
    #fffaf0 35%,
    #fffaf0 65%,
    transparent
  );
}
}

.bigLeavesUpper {
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
}

.bigLeavesLower {
  left: 50%;
  transform: translateX(-50%) translateY(70%) scale(-1);
}

.rect {
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}